<!DOCTYPE html>
<html lang="en">
    <%- include("./comps/head.ejs")%>
<body>
    
    <!-- CALLING TO NAV BAR PAGE -->
    <%- include("./comps/navBar.ejs") %>

    <div class="about-section">
        <div class="person-block">
            <h1>今 Person 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat molestias, accusamus qui beatae maxime id quaerat aperiam debitis ratione mollitia sequi a esse quas quasi laborum, excepturi aliquam. Iusto, aperiam!</p>
        </div>
        <div class="person-block">
            <h1>今 Person 2</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat molestias, accusamus qui beatae maxime id quaerat aperiam debitis ratione mollitia sequi a esse quas quasi laborum, excepturi aliquam. Iusto, aperiam!</p>
        </div>
        <div class="person-block">
            <h1>今 Person 3</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat molestias, accusamus qui beatae maxime id quaerat aperiam debitis ratione mollitia sequi a esse quas quasi laborum, excepturi aliquam. Iusto, aperiam!</p>
        </div>
        <div class="person-block">
            <h1>今 Person 4</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat molestias, accusamus qui beatae maxime id quaerat aperiam debitis ratione mollitia sequi a esse quas quasi laborum, excepturi aliquam. Iusto, aperiam!</p>
        </div>
    </div>

    <!-- INCLUDING THE FOOTER PAGE -->
    <%- include("./comps/footer.ejs") %>

</body>
</html>