<!-- adding the navigation file here -->
<nav class="header-section">
    <div class="logo-section">
        <h1>Bloggista</h1>
        <p>Blogging App</p>
    </div>
    <ul>
        <li><a href="../index.ejs">Home</a></li>
        <li><a href="../createBlog.ejs">Create</a></li>
        <li><a href="../about.ejs">About</a></li>
    </ul>
</nav>